@import "../../shared/styles/shared";

.drivers-list {
  flex: 40%;
  margin-right: 25px;

  &__filter-input {
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background-color: #f5f5f5;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    padding: 0 20px;
    border: .5px solid;

    &::placeholder {
      font-family: 'Karla', sans-serif;
      font-style: italic;
    }

    &:focus {
      outline: -webkit-focus-ring-color auto 0 !important;
    }
  }

  &_wrapper {
    background-color: #eee;
    margin-top: 30px;
    border: .5px solid;
    border-radius: 10px;
    height: 307px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    position: relative;

    &_sort-wrapper {
      display: flex;
      width: 100%;
      padding-bottom: 10px;
      justify-content: space-evenly;

      &__heading {
        margin: 0;
        position: absolute;
        left: 10px;
        font-size: 16px;
      }


      &_sort-by {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: fit-content;

        &__name {
          font-size: 16px;
        }
      }

      &__alternative {
        position: absolute;
        right: 15px;
        color: #333;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}


.arrow {
  width: 7px;
  height: 7px;
  border: 2px solid;
  transform: rotate(45deg);
  margin-right: 5px;
  cursor: pointer;
}

.arrow--up {
  border-top: none;
  border-left: none;
}

.arrow--down {
  border-bottom: none;
  border-right: none;
  margin-top: 7px;
}
