.main {
  box-shadow: 0 28px 57px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 700px;
  width: 1000px;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;

  &_top-wrapper {
    display: flex;
    flex: 60%;

    .placeholder {
      flex: 60%;
      border: .5px solid;
      border-radius: 10px;
      margin-left: 25px;
    }
  }


}
